# Android/Gradle/IDE files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS
.DS_Store

# Build artifacts
/build
/app/build
/captures
.externalNativeBuild
.cxx
